$contentWidth: "1400px";

//breakpoints
$breakpoints-up: (
  "medium": "640px",
  "large": "1024px",
  "xlarge": "1400px",
);

$breakpoints-down: (
  "small": "639px",
  "medium": "1023px",
  "large": "1399px",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size )) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size )) {
    @content;
  }
}

:root {
  --font-color: #3d3d3d;
  --background-color: #f1f1f1;
  --sidebar-color: #e7e7e79c;
  --main-color: #ec502c;
  --main-color-transparent: #cc4f33aa;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --focus-shadow: 2px 2px 10px 6px var(--shadow-color);

  --content-width: 1400px;
}
