$breaking-point: 800px;

.about-section {

    overflow-x: hidden;
    margin: 3em 0;
    align-items: flex-start;
    display: grid;
    grid-template-areas:
        "image head"
        "image  content";

    grid-template-columns: 1fr 1fr;

    @media (max-width: $breaking-point) {
        grid-template-areas:
            " head"
            "image  "
            "content";

        grid-template-columns: 1fr;
    }

    &__header {
        font-size: 2em;
        margin: 0 0;
        align-self: start;
        grid-area: head;
        @media (max-width: $breaking-point) {
            justify-self: center;
        }
    }

    &__content {
        padding: 2em;
        grid-area: content;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 1.1em;

        p:nth-child(1) {
            transform: translate(-20%, 0);
        }
        p:nth-child(2) {
            transform: translate(-10%, 0);
        }
        @media (max-width: $breaking-point) {
            p:nth-child(n) {
                transform: translate(0, 0);
            }
        }
    }
}

.hero-image {
    width: 80%;
    min-width: 500px;
   
    grid-area: image;
    position: relative;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
    overflow: hidden;
    img {
        mix-blend-mode: luminosity;
    }

    @media (max-width: $breaking-point) {
        width: 120%;
        min-width: unset;
        max-width: 500px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &:hover {
        .hero-image__text {
            filter: blur(0) opacity(1);
        }
    }

    &__text {
        transition: filter 0.4s;
        position: absolute;
        cursor: default;
        z-index: -1;
        color: var(--main-color);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 4.3em;
        letter-spacing: 100em;
        line-height: 1em;
        width: 10%;
        top:0;
        left:30%;
        transform: translateX(-50%);
        /*  filter: blur(10px) opacity(0); */
        
        text-align: center;
        mix-blend-mode: normal;
    }
}
