.contact-section {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 400px;
        padding: 3em 1em;
    }
}

.switch {
    grid-column: 2;
    align-self: center;
    justify-self: center;
    display: flex;
    position: relative;

    font-size: 2.5rem;

    &__button {
        font-size: inherit;
        color: var(--main-color);
        background-color: transparent;

        svg {
            transition: filter 0.4s;
            filter: drop-shadow(8px 16px 5px var(--shadow-color));
        }

        transition: filter 0.4s;
        &:hover {
            filter: brightness(1.1);
        }
    }

    &__element {
        transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        position: absolute;
        transform-origin: center center;

        &--active {
            transform: scale(2);
            svg {
                filter: drop-shadow(32px 24px 10px var(--shadow-color));
            }
        }

        &:nth-of-type(1) {
            left: -80px;
            top: -100px;
        }
        &:nth-of-type(2) {
            left: -30px;
            top: 5px;
        }
        &:nth-of-type(3) {
            left: 80px;
            top: -60px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    justify-self: center;
    align-self: center;

    &__input-container {
        position: relative;
        margin: 1.5em;
        width: fit-content;
        label {
            position: absolute;
            top: 0;
            pointer-events: none;
            transform: translateY(0%);
            font-family: inherit;
            font-weight: bold;
            font-size: 1em;
            padding: 0.5em;
            opacity: 0.4;

            transition: opacity 0.4s, color 0.4s, transform 0.3s, font-size 0.4s;
        }

        &:focus-within,
        &--filled {
            label {
                transform: translateY(-80%);
                opacity: 0.9;
            }
        }

        &:focus-within {
            color: var(--main-color);
        }
    }

    &__input {
        border: none;
        font-size: inherit;
        font-family: inherit;
        outline: none;

        padding: 0.5em;

        box-shadow: var(--shadow);
        color: var(--font-color);
    }

    &__textarea {
        resize: none;
        width: 500px;
        height: 300px;
    }

    &__button {
        margin-left: auto;
        font-size: 1.5em;
    }
}
