.hero-section {
    position: relative;

    &__header {
        position: absolute;
        top: 50%;
        right: 28%;
        transform: translate(50%, -50%);

        font-size: 32px;

        h2 {
            margin: 1em 0;
            text-align: justify;
            text-shadow: var(--shadow);
        }

        @include breakpoint-down(medium) {
            font-size: 22px;
        }

        @include breakpoint-down(small) {
            right: 50%;
        }
    }

    &__colored-text {
        color: var(--main-color);
        display: inline;
    }

    &__button {
        //margin: 0.5em 0;
    }
}

.hero-background {
    display: block;
    position: relative;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
    width: 100vw;
    min-width: 1000px;
    max-height: 100vh;
    overflow: hidden;
    z-index: -1;

    @include breakpoint-down(small) {
        transform: translateX(-65%);
    }
}
