.projects-section {
    display: flex;
    flex-direction: column;
    &__header {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 1.5em;
        margin: 0.5em 0;
        border-bottom: 1px solid var(--main-color);
    }

    &__button {
        margin: 2em auto;
        font-size: 1.5em;
    }
}
