html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

:root {
  --font-color: #3d3d3d;
  --background-color: #f1f1f1;
  --sidebar-color: #e7e7e79c;
  --main-color: #cc4e33;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
  background-color: var(--background-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}

button {
  outline: none;
  padding: 0;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0;
}

.wrapper {
  max-width: 1400px;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
