.wrapper {
  max-width: 1400px;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  padding: 0;

  &.no-Color {
    --main-color: var(--font-color);
  }
}

.main-footer {
  
  position: absolute;
  bottom:0;
  z-index: 101;
}
