.wrapper {
  display: flex;
  max-width: 1400px;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  padding: 0;

  &.no-Color {
    --main-color: var(--font-color);
  }
}

.main-footer {
  margin-top: auto;
}
