.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    & > :nth-child(n) {
        pointer-events: all;
        position: absolute;
    }

    display: flex;
    align-items: center;
}

.button {
    font-size: 1.5em;
    width: 2em;
    height: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    color: var(--font-color);
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover,
    &:focus {
        opacity: 0.9;
    }
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 4em;

    :nth-child(n){
        margin: .3em;
    }
}
