@import "../../styles/variables.scss";

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    & > :nth-child(n) {
        pointer-events: all;
        position: absolute;
    }

    display: flex;
    align-items: center;

    transition: opacity 0.5s 0.3s;
}

.container.hidden {
    opacity: 0;
    & > :nth-child(n) {
        pointer-events: none;
    }
}

$button-size: 3rem;
$half-button-size: 1.5rem;
$button-margin: 0.3em;

.button {
    font-size: 1.5em;
    width: $button-size;
    height: $button-size;
    margin: $button-margin;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    color: var(--font-color);
    background-color: var(--background-color);
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover,
    &:focus {
        opacity: 0.9;
    }
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 4em;
}

.expandable-container {
    position: relative;
}

.expandable-container.closed {
    .expandable-content {
        pointer-events: none;
        opacity: 0;
        clip-path: circle(1.5rem at calc(100% - calc(1.5rem + 0.3em)) calc(100% - calc(1.5rem + 0.3em)));
        transition: opacity 0.1s 0.4s, clip-path 0.4s;
    }
}

.expandable-container.open {
    .expandable-content {
        opacity: 1;
        clip-path: circle(100% at 50% 50%);
        transition: opacity 0.1s, clip-path 0.4s 0.1s;
    }
}

.expandable-content {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    padding: 2em;
    padding-right: 3rem;
    margin: 0;

    width: max-content;
    max-width: 100vw;
    border-radius: 1em;

    @include breakpoint-up(medium) {
        max-width: 600px;
    }

    background-color: var(--background-color);
    box-shadow: var(--shadow);

    transition: opacity 0.4s, clip-path 0.4s;
}

.info {
    text-align: justify;
    font-size: 1.4em;
    white-space: pre-wrap;
    margin: 0;
}
